@import "tailwindcss";

:root {
  --background: #0c0c0c;
  --background-muted: #161616;
  --foreground: #f4f2ee;
  --foreground-muted: #ffffff;
  --primary: #e5bc29;
  --primary-foreground: #e8bd26;
  --text-muted: #989795;

  --font-bebas-neue: "Bebas Neue", sans-serif;
  --font-jet-brains-mono: "JetBrains Mono", monospace;
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-text-muted: var(--text-muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --font-bebas-neue: var(--font-bebas-neue);
  --font-jet-brains-mono: var(--font-jet-brains-mono);
  --font-dm-sans: var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
